.background {
    background-image: url('../../assets/images/start-screen-bkg.jpg');
    background-size: cover;
    overflow-x: hidden;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
        opacity: 0.6;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}