.not-only {
    position: relative;
    z-index: 2;
}

.not-only__container {
    margin: 0 auto;
    padding: 0 0 0 0;
    display: flex;
    justify-content: flex-start;
    
}

.not-only__text {
    margin-top: 163px;
}

.not-only__heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: $white;
    margin-bottom: 42px;
}

.not-only__description {
    color: $link-normal-main;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin-bottom: 41px;
    width: 94%;
}

.not-only__btn {
    @include btn;
    width: 207px;
    word-break: break-all;
}







@media(max-width: 1279px) {

    .not-only__container {
        flex-direction: column;
    }

    .not-only__text {
        margin-top: 0;
        margin-bottom: 100px;  /**/
        width: 71%;
        align-self: center;

        display: flex;
        flex-direction: column;
    }

    .not-only__heading {
        padding-left: 21px;
    }

    .not-only__description {
        align-self: center;
        padding-left: 6px;
    }

    .not-only__btn {
        align-self: center;
    }

    .not-only__puppy {
        width: 70%;
        align-self: flex-end;
    }

}

@media(max-width: 768px) {

    .not-only__container {
    }

    .not-only__puppy {
        width: 569px;
        height: 593px;
    }

}

@media(max-width: 520px) {

    .not-only__heading {
        font-size: 25px;
        line-height: 130%;
    }
}

@media(max-width: 767px) {

    .not-only__container {
        padding: 30px 10px 0 10px;
    }

    .not-only__puppy {
        width: 80%;
        height: auto;
    }

    .not-only__text {
        width: 105%
    }

    .not-only__heading {
        text-align: center;
        padding-left: 0;
        letter-spacing: 1px;
    }

    .not-only__description {
        text-align: center;
        padding-left: 0;
        margin-bottom: 42px;
    }

}

@media(max-width: 320px) {

    .not-only__container {
        padding: 0 0 0 0;
    }

    .not-only__puppy {
        width: 260px;
        height: auto
    }

    .not-only__text {
        margin-bottom: 105px;
    }
    
}