$black: #000000;
$white: #FFFFFF;

$link-normal-main: #CDCDCD;
$link-active-main: #FAFAFA;
$button-normal: #F1CDB3;
$button-hover: #FDDCC4;
$btn-text: #292929;
$heading-grey: #545454;
$text-grey: #4C4C4C;
$bkg-grey: #F6F6F6;
